@import "../common/main.css";
@import "../common/reset.css";
@import "../iconfont/iconfont.css";

/*详情界面保持上部分静止，下面滚动; 同样利用flex布局 poster自然高度， tab-nav自然高度， tab-block填满剩余部分*/
.poster {
    position: relative;
}

.post-img {
    height: 30vh;
    width: 100%;
}

.poster-title {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 80px;
    /*这里不要使用opacity属性，文字也会继承透明属性，使用rgpa*/
    background: rgba(0, 0, 0, 0.3);
}

.poster-title-team {
    flex: 1;
    text-align: center;
}

.poster-title-team img {
    border-radius: 50%;
}

/* ************************tab 切换******************************* */
.tab-nav {
    display: flex;
    margin-top: 5px;
    padding: 5px 0;
    text-align: center;
}

.tab-nav > div {
    flex: 1;
    line-height: 2rem;
    font-size: 1.1rem;
    text-align: center;
    border-right: 1px solid #eee;
    padding-bottom: 2px;
}

.tab-nav > div:last-child {
    border: none;
}

.tab-nav > div.active {
    border-bottom: 2px solid #38f;
}

.tab-block {
    flex: 1;
    overflow-y: scroll;
}

/******************赛况 frame时间片段的意思*****************/
.frame {
    padding: 5px;
}

/*加强时间icon的效果*/
.frame .icon {
    font-weight: bold;
    margin-right: 5px;
}

.frame-header {
    font-size: 0.8rem;
    display: inline-block;
    padding: 2px 5px;
    background: red;
    color: #fff;
    border-radius: 10px;
}

.frame-item {
    position: relative;
    margin-left: 5px;
    border-left: 1px dotted #38f;
    padding: 20px 10px 0;
}

.frame-item > p {
    font-size: 1rem;
    color: #404040;
    padding: 5px 0;
}

.frame-dot {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #38f;
    border-radius: 50%;
    left: -4px;
    top: 27px;
}

.frame-item-author {
    color: #888;
    font-size: 0.8rem;
    vertical-align: middle;
}

/* *************** 评论 ****************  */
.comments {
    /*为评论输入框留位置，由于输入框是绝对定位*/
    padding-bottom: 50px;
}

.comment-form {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

.comment-form input {
    background: ghostwhite;
    border-top: 1px solid #eee;
    outline: none;
    padding: 5px 10px;
    width: 100%;
    height: 100%;
}

.comment {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 5px 10px;
}

.comment > span:first-child {
    color: #38f;
}

/*比赛数据*/
.match-data {
    background: #eee;
}

.match-data > div {
    background: #fff;
    margin-bottom: 10px;
    padding: 10px;
}

.match-score {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.match-team-info {
    flex: 1;
}

.match-team-info img {
    margin-bottom: 5px;
}

.match-score-result {
    flex: 3;
}

.match-score-result > div {
    margin: 5px 0;
}

.sub-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.match-report-row {
    display: flex;
    height: 40px;
    line-height: 40px;
    text-align: center;
    align-items: center;
}

.match-report-row.row-title {
    border-bottom: 1px solid #eee;
    color: #888;
    font-size: .8rem;
}

.match-report-row span {
    flex: 1;
}

.match-report-row span:first-child {
    text-align: left;
}

.match-report-row span:last-child {
    text-align: right;
}

/* 本场最佳 */
.mvp > div {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mvp-score {
    display: flex;
    font-size: 1.1rem;
    text-align: center;
    justify-content: space-between;
    align-items: center
}

.mvp-score span {
    margin: 0 10px;
}

.mvp-score-label {
    font-size: .8rem;
    color: #888;
}

.mvp-player {
    flex: 1;
    display: flex;
    align-items: center;
}

/*让第二个球员的信息，靠右*/
.mvp-player:last-child {
    justify-content: flex-end;
}

.mvp-player-info {
    margin: 0 5px;
    font-size: .8rem;
    color: #888;
}

.mvp-player img {
    border-radius: 50%;
}