@import "../common/main.css";
@import "../common/reset.css";
@import "../iconfont/iconfont.css";

.match > h2 {
    font-size: 1.2rem;
    color: #292929;
    height: 2.1rem;
    line-height: 2.1rem;
    padding: 0 .5rem;
    background: #e9e9e9;
}

.match-item {
    display: flex;
    padding: 6px;
    border-bottom: 1px solid #eee;
}

/* .match-item:last-child {
    border: none;
} */
.match-item-info, .match-item-teams, .match-item-result {
    height: 70px;
    padding: 5px;
}

.match-item-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #888;
    font-size: 1rem;
}

.match-item-info .match-time {
    vertical-align: middle;
    color: #404040;
}

.match-item-teams {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.1rem;
    color: #404040;
}

.match-item-teams > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    padding: 3px;
}

/*team的比分*/
.match-item-teams > div span:last-child {
    color: #888;
}

.match-item-teams.isLive > div span:last-child {
    color: red;
}

/*视频是否处于直播状态*/
.match-item .match-item-result {
    font-size: .8rem;
    width: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #888;
}

.match-item .match-item-result.isLive {
    color: red;
}

.match-item .match-item-result > div:first-child {
    font-size: 1rem;
}